html {
    font-family: 'Roboto', sans-serif;
    background: url(https://images.hdqwalls.com/download/blur-blue-gradient-cool-background-sp-1920x1080.jpg);
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: rgb(212, 201, 201);
}

h3 {
    text-align: center;
    font-size: 24px;
    color: rgb(212, 201, 201);
}

#menu {
    text-align: center;
    margin-top: 5vw;
}

button {
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 24px 16px;
    background-color: rgb(104, 104, 151);
    color: white;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 20vw;
    width: 20vw;
    max-height: 400vw;
    margin-top: 40px;
}

.cell {
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.top {
    border-top: 0;
}

.bottom {
    border-bottom: 0;
}

.left {
    border-left: 0;
}

.right {
    border-right: 0;
}

